{% extends 'flatpages/default.html' %}
{% load my_filters %}

{% block title %} News {% endblock title %}

{% block content %}
{% if is_not_authors %}
<button> <a href="{% url 'upgrade' %}">Стать автором</a></button><br>
{% endif %}

<table>
            <thead>
                <td>
                    <h4>Автор</h4>
                </td>
                <td>
                    <h4>Заголовок</h4>
                </td>
                <td>
                    <h4>Дата публикации</h4>
                </td>
                <td>
                    <h4>Превью</h4>
                </td>
                <td>
                    <h4>Тип</h4>
                </td>
                <td>
                    <h4>Рейтинг</h4>
                </td>
            </thead>
            <tr>
                 <td>
                    {{ post.author }} <!-- не забываем что переменные в шаблоне ничем не отличаются от переменных в python. Здесь также можно получать доступ к полям класса. Например здесь мы выводим имя, в следующем столбце описание, и т.д.  -->
                </td>
                <td>
                    {{ post.Post_title|censor }} <!-- не забываем что переменные в шаблоне ничем не отличаются от переменных в python. Здесь также можно получать доступ к полям класса. Например здесь мы выводим имя, в следующем столбце описание, и т.д.  -->
                </td>
                <td>
                    {{ post.Post_time}}
                </td>
                <td>
                    {{ post.Post_text|censor }}
                    <!--{{ product.description|truncatechars:20 }} по количеству символов-->
                </td>
                <td>
                    {{ post.Post_type }}
                </td>
                <td>
                    {{ post.Post_rating }}
                </td>
                <td>
                    {{ post.category.name }}
                </td>
            </tr>
</table>


<form method="POST">
    {% csrf_token %}
    <input type="submit" value="подтвердить">
</form>
{% endblock content %}